*{
    text-decoration: none;
}
body {
    width: 600px;
    margin: 0 auto;
    background: rgb(30, 30, 30);
    padding: 0 20px 20px 20px;
    border: 5px solid rgb(30, 30, 30);
}
button{
    background: rgb(120, 9, 164);
}
h1{
    color: rgb(120, 9, 164);
}
a{
    color: white;
}