*{
    text-decoration: none;
}
body {
    width: 600px;
    margin: 0 auto;
    background: rgb(30, 30, 30);
    padding: 0 20px 20px 20px;
    border: 5px solid rgb(30, 30, 30);
}
button{
    background-color: black;
    display: block;
    padding: 5px 10px;
    margin: 0 auto;
}
a{
    color: white;
}