* {
    text-decoration: none;
}
body{
    width: 600px;
    margin: 0 auto;
    background: rgb(30, 30, 30);
    padding: 0 20px 20px 20px;
    border: 5px solid rgb(30, 30, 30);
}
h1{
    margin: 0;
    padding: 20px 0;
    font-family: BlockyLetters;
    src: url(font/BlockyLetters.ttf);
}
img,
button{
    font-family: BlockyLetters;
    src: url(font/BlockyLetters.ttf);
    display: block;
    margin: 0 auto;
}
.fsa,
.news{
    background: black;
    color: white;
    border-radius: 10px;
}
.film,
.serie,
.anime{
    background: black;
    color: white;
    font-family: BlockyLetters;
    src: url(font/BlockyLetters.ttf);
}
.beta{
    font-family: BlockyLetters;
    src: url(font/BlockyLetters.ttf);
}
.container {
    margin: 0;
    padding: 0;
}