*{
    text-decoration: none;
}
body{
    background: rgb(30, 30, 30);
}
a{
    color: white;
    font-family: Orbite;
    src: url(font/Orbite-Regular.ttf);
}
button{
    background-color: black;
    display: block;
    margin: 0 auto;
}
img{
    display: block;
    margin: 0 auto;
}