*{
    text-decoration: none;
}
body{
    background: rgb(30, 30, 30);
}
a{
    color: yellow;
    font-family: Heart Breaking bad;
    src: url(font/Heart\ Breaking\ Bad.otf);
}
button{
    background-color: black;
    display: block;
    margin: 0 auto;
}
img{
    display: block;
    margin: 0 auto;
}