*{
    text-decoration: none;
}
body{
    background-color: rgb(30, 30, 30);
}
button{
    background-color: black;
    display: block;
    margin: 0 auto;
}
img{
    display: block;
    margin: 0 auto;
}
a{
    color: gold;
}