*{
    text-decoration: none;
}
body{
    background: rgb(30, 30, 30);
}
a{
    color: goldenrod;
    font-family: arcane-nine;
    src: url(font/arcane-nine.otf);
}
button{
    background-color: black;
    display: block;
    margin: 0 auto;
}
img{
    display: block;
    margin: 0 auto;
}