*{
    text-decoration: none;
}
body{
    background: rgb(30, 30, 30);
}
a{
    color: green;
    font-family: Halo;
    src: url(font/Halo.ttf);
}
button{
    background-color: black;
    color: green;
    display: block;
    margin: 0 auto;
}
img{
    display: block;
    margin: 0 auto;
}