*{
    text-decoration: none;
}
body{
    background: rgb(30, 30, 30);
}
a{
    color: green;
    font-family: Halo;
    src: url(font/Halo.ttf);
}
button{
    color: white;
    background: black;
}