*{
    text-decoration: none;
}
body{
    background: rgb(30, 30, 30);
}
a,
h1,
h3{
    color: red;
    font-family: BENGUIAT;
    src: url(font/BENGUIAT.TTF);
}
button{
    background-color: black;
    display: block;
    margin: 0 auto;
}
img{
    display: block;
    margin: 0 auto;
}
.next{
    display: block;
    margin-left: 1200;
}