*{
    text-decoration: none;
}
body{
    background: rgb(30, 30, 30);
}
a,
h1{
    color: red;
    font-family: BENGUIAT;
    src: url(font/BENGUIAT.TTF);
}
button{
    background: black;
}