*{
    text-decoration: none;
}
body{
    background: rgb(30, 30, 30);
}
a{
    color: white;
}
button{
    background-color: black;
    display: block;
    padding: 5px 10px;
    margin: 0 auto;
}
img{
    display: block;
    margin: 0 auto;
}